.container {
    max-width: 1100px;
    margin: 0 auto;
}

.container-sm {
    max-width: 600px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.brand-color {
    color: $brand-primary;
}

.brand-bg {
    background-color: $brand-primary;
}

.brand-bg-secondary {
    background-color: $brand-secondary;
}

.btn-brand {
    background-color: $brand-primary;
    border-color: transparent;
}

.btn-border {
    border-color: $brand-primary;
    border-radius: 5px;
    background-color: transparent;
}

.text-center {
    text-align: center;
}

.font-grey {
    color: #bcbdbd;
}

.pe-5 {
    padding-right: 5px;
}

.pe-15 {
    padding-right: 15px;
}