.container {
    max-width: 1100px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.brand-color {
    color: $brand-primary;
}

.bg-brand {
    background-color: $brand-primary;
}

.pe-5 {
    padding-right: 5px;
}

.pe-15 {
    padding-right: 15px;
}